@import "tailwindcss";

/* Dark Scrollbar for Settings */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111827;
  /* gray-900 */
}

::-webkit-scrollbar-thumb {
  background: #374151;
  /* gray-700 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
  /* gray-600 */
}

html,
body {
  height: 100%;
  background: transparent;
  margin: 0;
  overflow: hidden;
  /* Prevents scrollbars on our small window */
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draggable {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;

  &.clickable {
    cursor: pointer;
  }
}

@keyframes wave {

  0%,
  100% {
    height: 20%;
  }

  50% {
    height: 100%;
  }
}

.animate-wave {
  animation: wave 1s ease-in-out infinite;
}