@import "tailwindcss";

html,
body {
  height: 100%;
  background: transparent;
  margin: 0;
  overflow: hidden;
  /* Prevents scrollbars on our small window */
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draggable {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

@keyframes wave {

  0%,
  100% {
    height: 20%;
  }

  50% {
    height: 100%;
  }
}

.animate-wave {
  animation: wave 1s ease-in-out infinite;
}